{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "plugins": [
        "import",
        "prettier",
        "standard"
    ],
    rules: {
        "import/no-extraneous-dependencies": ["error"],
        "prettier/prettier": 2
    },
    settings: {
        "import/resolver": {
            node: {
                moduleDirectory: ["src", "node_modules"]
            }
        }
    },
    "extends": [
        "standard",
        "prettier",
        "prettier/standard"
    ],
}
